header
  img#logo(src='img/fractalLogo_200x200.png', width='75', height='75')
  //span.grey Fractal
  a(target='_blank', href='http://github.com/wearefractal')
    img.icon(src='img/githubGreen.png', width='75', height='75', border='0')
  a(target='_blank', href='http://twitter.com/wearefractal')
    img.icon(src='img/twitter.png', width='75', height='75')

  .feature
    span.grey We do Open Source.
    br
    | with over 80 Open Source projects, we know how to translate the power  
    br
    | of community into an Open Source strategy that works for you.
    br
    //br
    //a products | services | training 
    //br
    br
    | contact us 
    a @WeAreFractal


  #chart
