
.logo {
  color: green;
  font-size:36px;
  top: 48px;
}

.grey {
  color: #666;
  font-size:32px;
}

header{
  padding: 20px;
  /*background-color: #000;*/
}

text {
  font: 12px sans-serif;
}

.white{
    font: 22px sans-serif;
    color: #333;
}
h3{
    font: 32px sans-serif;
    color: green;
}

body {
  background:#000;
  background-image: url('../img/low_contrast_linen.png');
  background-repeat: repeat;
  margin: 0px;
}

#logo {
    margin-left: auto;
    margin-right: auto;
}

to {
    -webkit-transform:rotate(360deg);
}

.feature {
    color: #f0f0f0;
    /*
    position: absolute;
    top: 10px;
    left: -65px;
    */
    font-size: 22px;
    margin: 0px;
    padding: 10px;
    z-index: 100;
    border-radius: 15px;
}

#chart {
  opacity: 0.2;
  position: absolute;
  left: 150px;
  top: 50px;
}
#chart:hover{
  opacity: 1.0;
}

.icon:hover {
    -webkit-animation-name:spin;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:4s;
    -webkit-animation-iteration-count:infinite;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
}